#project {
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@900&display=swap');
    font-family: 'Noto Sans KR', sans-serif;
    padding-top: 100px;

    // @import url('https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet');

    // 스와이퍼
    #swiper {

        .slick-track {
            display: flex;
        }

        .slick-dots-bottom {
            transform: rotate(-90deg);
            text-align: center;
            width: 10%;
            padding-left: 100px;

            .slick-active button {
                background-color: yellow;
            }

            li button {
                color: rgba(255, 255, 255, 0);
                border-radius: 50%;
                border: none;
                padding: 0px 4px;
            }
        }

        >div>img {
            height: 300px;
            width: 100%;
            background-color: antiquewhite;
        }
    }

    >h1 {
        font-size: 3em;
        color: #fff;
        background-color: #fc1a40;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        width: 18%;
        min-width: 300px;
        height: 30px;
        margin-bottom: 30px;
        margin-top: 50px;
        text-shadow: 1px 1px #ccc;
    }

    #projectBox {
        width: 100%;

        // 첫번째
        .whiteBox {
            padding-right: 30px;
            border-radius: 34px;
            width: 75%;
            min-width: 1425px;
            height: 800px;
            background-color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: 5px 5px 6px #dfdfdf;

            &:not(:first-child) {
                margin: 50px auto;
            }

            >div {
                &:first-child {
                    width: 60%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;

                    // 스와이퍼
                    #mySw {
                        overflow: hidden;
                        position: absolute;
                        width: 73.5%;
                        height: 38%;
                        top: 17%;
                        left: 14%;
                        z-index: 11;

                        img {
                            width: 100%;
                        }
                    }

                    .pc {
                        position: absolute;
                        top: 15%;
                        left: 0%;
                        width: 90%;
                        height: 72%;
                        padding-left: 100px;
                        z-index: 10;
                    }

                    .tablet {
                        width: 30%;
                        position: absolute;
                        bottom: 50px;
                        left: 50px;
                        z-index: 12;
                    }

                    .mobile {
                        width: 15%;
                        position: absolute;
                        bottom: 50px;
                        left: 350px;
                        z-index: 10;
                    }

                    .img2 {
                        border-radius: 5px;
                        background-color: #eee;
                        position: absolute;
                        width: 255px;
                        height: 352px;
                        bottom: 65px;
                        left: 65px;
                    }

                    .img3 {
                        border-radius: 15px;
                        background-color: #999;
                        position: absolute;
                        width: 140px;
                        height: 270px;
                        bottom: 55px;
                        left: 350px;
                    }
                }

                &:last-child {
                    width: 40%;
                    height: 100%;
                    text-align: left;

                    h3 {
                        font-size: 2.3em;
                        padding: 50px 0 30px;
                    }

                    #info {
                        border-bottom: 1px solid #ccc;
                        padding-bottom: 30px;
                        margin-bottom: 30px;

                        ul {
                            li {
                                strong {
                                    color: rgb(221, 0, 0);
                                    font-weight: normal;
                                }
                                span {
                                    padding: 3px 8px;
                                    background-color: #fbedea;
                                }
                            }

                            &:nth-child(1) {
                                font-size: 1.05em;
                                padding-bottom: 30px;
                            }

                            &:nth-child(2) {
                                line-height: 2.5;
                                font-size: 1em;
                                padding-bottom: 20px;
                            }

                            &:nth-child(3) {
                                line-height: 2.5;
                                font-size: 1em;
                            }
                        }
                    }

                    #link {
                        ul {
                            li {
                                display: flex;
                                font-size: 1em;
                                line-height: 2;

                                div {
                                    &:first-child {
                                        width: 15%;
                                    }

                                    &:last-child {
                                        width: 85%;
                                    }
                                }

                                a {
                                    text-decoration: underline;
                                    color: #fc1a40;
                                }
                            }
                        }
                    }
                }
            }
        }

        // 두번째
        .boxTwo {
            #info ul:first-child {
                padding: 10px;
                height: 230px;
                overflow-y: scroll;
                margin-bottom: 10px;
                background-color: #f9f9f9;

                /* 스크롤바 */
                &::-webkit-scrollbar {
                    width: 10px;
                }

                &::-webkit-scrollbar-thumb {
                    background: #fc1a40;
                    border-radius: 10px;
                }

                &::-webkit-scrollbar-track {
                    background: #fbedea;
                }
            }

            >div:first-child {
                >div {
                    .pc {
                        width: 100%;
                        height: 82%;
                        z-index: 10;
                        padding-right: 100px;
                    }
                }

                .swiper2 #mySw {
                    width: 72%;
                    height: 44%;

                    img {}
                }
            }

            #swiper {
                .slick-dots-bottom {
                    padding-left: 220px;

                    li button {
                        background-color: rgb(189, 189, 189);
                    }

                    li.slick-active button {
                        background-color: yellow;
                    }
                }
            }
        }

        // 세번째
        .boxThr {
            >div:first-child {
                >div {
                    .pc {
                        width: 100%;
                        z-index: 10;
                        padding-right: 100px;
                    }
                }

                .swiper3 {
                    #mySw {
                        width: 300px;
                        height: 540px;
                        top: 51%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        border-radius: 15%;

                        img {
                            width: 900px;
                            height: 540px;
                            position: absolute;
                            top: 1350%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                        }
                    }

                    img {
                        width: 300px;
                        height: 550px;
                        bottom: -20%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        z-index: 12;
                    }
                }
            }
        }
    }
}