#main {
    text-align: center;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@900&display=swap');

    #mainBox {
        border-radius: 34px;
        width: 80%;
        height: 70%;
        background-color: #fff;
        display: flex;

        #myImg {
            width: 30%;
            height: 100%;

            >div {
                flex-wrap: wrap;

                &:first-child {
                    height: 60%;
                }

                &:last-child {
                    height: 30%;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    ul {

                        // line-height: 2;
                        li {
                            position: relative;
                            font-size: 24px;
                            font-family: 'Noto Sans KR', sans-serif;
                        }
                    }
                }
            }

            img {
                width: 65%;
                height: 80%;
                border-radius: 50%;
                background-color: #ffbfc3;
                margin: 50px;
            }
        }

        #introduce {
            display: flex;
            align-items: center;
            width: 70%;
            font-size: 18px;
            // line-height: 3;
            text-align: left;
            font-family: 'Noto Sans KR', sans-serif;

            >div {
                width: 100%;
            }

            >div>div>div {
                display: flex;
                padding: 20px 0;
                align-items: center;
            }

            ul {
                padding-left: 20px;
                width: 100%;
                line-height: 1.8;

                li {
                    color: #777777;

                    &:first-child {
                        color: #575757;
                        font-size: 28px;
                        font-weight: 600;
                    }
                }

                .color:hover {
                    color: #fc1a40;
                    cursor: pointer;
                }
            }
        }
    }
}