* {
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
    color: #222;
}

body {
    background-color: #ffbfc3;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}