#header {
    z-index: 100;
    position: fixed;
    margin: 0 auto;
    display: flex;
    height: 10%;
    width: 100%;
    min-width: 1200px;
    background-color: #ffbfc3;

    #name {
        width: 60%;

        h2 {
            font-size: 3em;
            font-weight: 900;
            color: #fff;
            line-height: 2;
            padding-left: 20px;
        }
    }

    #list {
        ul {
            display: flex;
            margin-top: 40px;

            .red {
                color: #fff;
                padding: 0 10px;
                border: none;
                background: none;
                font-size: 1.05em;

                &.on {
                    color: #fc1a40;
                }
            }
        }
    }
}